<div class="container">
  <h1>Bienvenue sur le site de gestion d'une école</h1>

  <img src="./assets/images/1.jpeg" class="img-fluid"/>


  <p>Avec plus de 9500 étudiants et 7 implantations, réparties dans tout le Hainaut, de Tournai à Charleroi en passant par Mons et la région du Centre, la Haute Ecole Provinciale de Hainaut – Condorcet se positionne à la fois comme un interlocuteur crédible sur l’échiquier européen et comme une structure de proximité à taille humaine, à l’écoute de ses étudiants.<br>
<br>
    Elle dispense une cinquantaine de cursus de type court (bacheliers) et de type long (masters), couvrant un large éventail de secteurs tels l’agronomie, les arts appliqués, l’économie, le paramédical, la pédagogie, le social et le technique.
<br><br>
    La HEPH – Condorcet  propose aussi de multiples spécialisations, ainsi que des passerelles vers d’autres filières.

    Chacune des orientations combine une formation théorique et pratique. Au travers de stages et de rencontres avec le milieu professionnel, la Haute Ecole offre des cursus en lien direct avec le monde du travail.</p>
</div>


